build/
build-*/
debug/
release/

*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qmlproject.user
*.qmlproject.user.*

moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h

CMakeFiles/
CMakeCache.txt
cmake_install.cmake_install
Makefile

*.o
*.obj
*.exe
*.out
*.app
*.zip

.DS_Store
Thumbs.db
